.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(20, 19, 18, 0.3)
), url("../../assets/campustaleshero.jpg");
    background-size:cover;
    background-position:center;
    color: white;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 0%;
    
    
}

.herotext{
    text-align: center;
    max-width: 800px;
    

}
.herotext h1{
    font-size: 60px;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    
    
    margin-bottom: 20px;
    background: linear-gradient(
        90deg,
        rgb(249, 248, 251) 70%,
        rgba(248, 243, 243, 0) 120%
      );
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
}
.herotext p{
    font-size: 16px;
    
    margin-bottom: 52px;
   
    
}




@media (max-width:650px){
    .herotext h1{
        font-size: 34px;
        max-width: 400px;
        margin: auto;
        
        
    }
    .herotext p{
        font-size: 14px;
        margin: 15px auto 30px;
    }
    
} 
